<nb-card *ngIf="showListing">
    <nb-card-header >
      Vouchers <button class="btn-import"  type="button" nbButton status="success" (click) ="userRedeems()" >Assigned Codes</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (create)="createVoucher()" (edit) = "editVoucher($event)" (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
     
    </nb-card-body>

</nb-card>

<nb-card *ngIf="showRedeem">
  <nb-card-header>
    Assigned Codes <button class="btn-import" type="button" (click) = "resetListing()" nbButton status="primary">Back</button>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="redeem_data" [source]="redeem_source" >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="showAddForm">
  <nb-card-header>
    Add Voucher
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm" (ngSubmit)="onCreateConfirm()">
      <div class="form-group row">
        <label for="inputType" class="label col-sm-3 col-form-label">Type</label>
        <div class="col-lg-9">
          <nb-select formControlName="vouchertype">
            <nb-option value="Featured">Featured</nb-option>
            <nb-option value="Bear">Bear</nb-option>
            <nb-option value="Whiskey">Whiskey</nb-option>
            <nb-option value="Vodka">Vodka</nb-option>
          </nb-select>
        </div>
      </div>
     
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input type="text" formControlName="title" nbInput fullWidth id="inputTitle" placeholder="Title" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputImage" class="label col-sm-3 col-form-label">Icon</label>
        <div class="col-sm-9">
          <input type="file" accept="image/*"  nbInput fullWidth (change)="uploadFile($event)">
          <input type="hidden" formControlName="icon" nbInput fullWidth id="inputIcon">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescription" class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <input type="text" formControlName="description" nbInput fullWidth id="inputDescription" placeholder="Description" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputcredits" class="label col-sm-3 col-form-label">Credits</label>
        <div class="col-sm-9">
          <input type="text" formControlName="credits" nbInput fullWidth id="inputcredits" placeholder="Credits" required>
        </div>
      </div>
      
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!profileForm.valid" nbButton status="success">Save</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="showEditForm">
  <nb-card-header>
    Edit Voucher
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm" (ngSubmit)="onEditConfirm()">
      <div class="form-group row">
        <label for="inputType" class="label col-sm-3 col-form-label">Type</label>
        <div class="col-lg-9">
          <nb-select formControlName="vouchertype">
            <nb-option value="Featured">Featured</nb-option>
            <nb-option value="Bear">Bear</nb-option>
            <nb-option value="Whiskey">Whiskey</nb-option>
            <nb-option value="Vodka">Vodka</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input type="text" formControlName="title" nbInput fullWidth id="inputTitle" placeholder="Title" required>
        </div>
      </div>
     
      <div class="form-group row">
        <label for="inputImage" class="label col-sm-3 col-form-label">Icon</label>
        <div class="col-sm-8">
          <input type="file" accept="image/*"  nbInput fullWidth (change)="uploadFile($event)">
          <input type="hidden" formControlName="icon" nbInput fullWidth id="inputImage">
        </div>
        <div class="col-sm-1" class="icon-img"><div [style.background-image]="'url(' + icon1 + ')'"  ></div></div>
      </div>
      <div class="form-group row">
        <label for="inputDescription" class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <input type="text" formControlName="description" nbInput fullWidth id="inputDescription" placeholder="Description" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputcredits" class="label col-sm-3 col-form-label">Credits</label>
        <div class="col-sm-9">
          <input type="text" formControlName="credits" nbInput fullWidth id="inputcredits" placeholder="Credits" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputcodes" class="label col-sm-3 col-form-label">Codes</label>
        
        <div class="col-sm-4">
          <button type="button" (click) = "addCode()" nbButton status="primary">Create Code</button>
        </div>
      </div>
      <nb-card >
      
        <nb-card-body>
          <ng2-smart-table [settings]="code_data" [source]="code_source" (edit) = "activeCode($event)" (delete)="onDeActiveCode($event)">
          </ng2-smart-table>
        </nb-card-body>
    </nb-card>
      <!-- <div class="form-group row">
        <label for="inputcodes" class="label col-sm-3 col-form-label">&nbsp;</label>
        <div class="col-sm-9">
          <div *ngFor="let item of codes" class="code-list">{{item}}<a href="Javascript:void(0)" (click) = "removeCode(item);">X</a></div>
        </div>
      </div> -->
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!profileForm.valid" nbButton status="success">Save</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>