<nb-card *ngIf="showListing">
    <nb-card-header>
      Application Settings
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (create)="createSetting()" (edit) = "editSetting($event)" (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="showAddForm">
  <nb-card-header>
   Application Settings ADD
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm" (ngSubmit)="onCreateConfirm()">
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="app_name" nbInput fullWidth id="inputName" placeholder="Name" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <input type="text" formControlName="app_description" nbInput fullWidth id="inputDesc" placeholder="Description">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Version</label>
        <div class="col-sm-9">
          <input type="text" formControlName="app_version" nbInput fullWidth id="inputVersion" placeholder="Version" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputImage" class="label col-sm-3 col-form-label">App Icon</label>
        <div class="col-sm-9">
          <input type="file" accept="image/*"  nbInput fullWidth (change)="uploadFile($event)">
          <input type="hidden" formControlName="app_icon" nbInput fullWidth id="inputIcon">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Agora App Id</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_app_id" nbInput fullWidth id="inputaccountid" placeholder="Agora App Id">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Agora App Secret</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_secret" nbInput fullWidth id="inputAgoraToken" placeholder="Agora App Secret">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAccountId" class="label col-sm-3 col-form-label">Agora Customer Id</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_customer_id" nbInput fullWidth id="inputCustomerId" placeholder="Agora Customer Id" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAgoraToken" class="label col-sm-3 col-form-label">Agora Customer Secret</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_customer_secret" nbInput fullWidth id="inputAgoraCustomerSecret" placeholder="Agora Customer Secret" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Free Month</label>
        <div class="col-sm-9">
          <input type="number" formControlName="free_month" nbInput fullWidth id="inputFreeMonth" placeholder="Free Month" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Free Credits</label>
        <div class="col-sm-9">
          <input type="number" formControlName="free_credits" nbInput fullWidth id="inputFreeCredits" placeholder="Free Credits" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Minimum Interests</label>
        <div class="col-sm-9">
          <input type="number" formControlName="min_interests" nbInput fullWidth id="inputMinInterests" placeholder="Min Interests" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Minimum Personalities</label>
        <div class="col-sm-9">
          <input type="number" formControlName="min_personalities" nbInput fullWidth id="inputMinPersonalities" placeholder="Min Personalities" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Minimum Interests</label>
        <div class="col-sm-9">
          <input type="number" formControlName="min_interests" nbInput fullWidth id="inputMinInterests" placeholder="Min Interests" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Minimum Personalities</label>
        <div class="col-sm-9">
          <input type="number" formControlName="min_personalities" nbInput fullWidth id="inputMinPersonalities" placeholder="Min Personalities" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Amazon Access Key</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amazon_access_key" nbInput fullWidth id="inputMinPersonalities" placeholder="Amazon Access Key" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Amazon Secret Key</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amazon_secret_key" nbInput fullWidth id="inputMinPersonalities" placeholder="Amazon Secret Key" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Amazon Partner Id</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amazon_partner_id" nbInput fullWidth id="inputMinPersonalities" placeholder="Amazon Partner Id" required>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!profileForm.valid"  nbButton status="success">Save</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="showEditForm">
  <nb-card-header>
  Application Settings
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm" (ngSubmit)="onEditConfirm()">
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="app_name" nbInput fullWidth id="inputName" placeholder="Name" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDesc" class="label col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <input type="text" formControlName="app_description" nbInput fullWidth id="inputDesc" placeholder="Description">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputVersion" class="label col-sm-3 col-form-label">Version</label>
        <div class="col-sm-9">
          <input type="text" formControlName="app_version" nbInput fullWidth id="inputVersion" placeholder="Version" >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputImage" class="label col-sm-3 col-form-label">App Icon</label>
        <div class="col-sm-8">
          <input type="file" accept="image/*"  nbInput fullWidth (change)="uploadFile($event)">
          <input type="hidden" formControlName="app_icon" nbInput fullWidth id="inputImage">
        </div>
        <div class="col-sm-1" class="icon-img"><div [style.background-image]="'url(' + icon1 + ')'"  ></div></div>
      </div>
      <div class="form-group row">
        <label for="inputAccountId" class="label col-sm-3 col-form-label">Agora App Id</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_app_id" nbInput fullWidth id="inputAccountId" placeholder="Agora App Id" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAgoraToken" class="label col-sm-3 col-form-label">Agora App Secret</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_secret" nbInput fullWidth id="inputAgoraToken" placeholder="Agora App Secret" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAccountId" class="label col-sm-3 col-form-label">Agora Customer Id</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_customer_id" nbInput fullWidth id="inputCustomerId" placeholder="Agora Customer Id" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAgoraToken" class="label col-sm-3 col-form-label">Agora Customer Secret</label>
        <div class="col-sm-9">
          <input type="text" formControlName="agora_customer_secret" nbInput fullWidth id="inputAgoraCustomerSecret" placeholder="Agora Customer Secret" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFreeMonth" class="label col-sm-3 col-form-label">Free Month</label>
        <div class="col-sm-9">
          <input type="number" formControlName="free_month" nbInput fullWidth id="inputFreeMonth" placeholder="Free Month" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFreeCredits" class="label col-sm-3 col-form-label">Free Credits</label>
        <div class="col-sm-9">
          <input type="number" formControlName="free_credits" nbInput fullWidth id="inputFreeCredits" placeholder="Free Credits" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinInterests" class="label col-sm-3 col-form-label">Minimum Interests</label>
        <div class="col-sm-9">
          <input type="number" formControlName="min_interests" nbInput fullWidth id="inputMinInterests" placeholder="Min Interests" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Minimum Personalities</label>
        <div class="col-sm-9">
          <input type="number" formControlName="min_personalities" nbInput fullWidth id="inputMinPersonalities" placeholder="Min Personalities" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Amazon Access Key</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amazon_access_key" nbInput fullWidth id="inputMinPersonalities" placeholder="Amazon Access Key" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Amazon Secret Key</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amazon_secret_key" nbInput fullWidth id="inputMinPersonalities" placeholder="Amazon Secret Key" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMinPersonalities" class="label col-sm-3 col-form-label">Amazon Partner Id</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amazon_partner_id" nbInput fullWidth id="inputMinPersonalities" placeholder="Amazon Partner Id" required>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!profileForm.valid" nbButton status="success">Save</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>