@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .nb-theme-default ng2-smart-table {border: 2px solid !important;}
  .nb-theme-default ng2-smart-table img.list-img-1{padding: 10px; background-color: #000;}
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  nb-select{width: 100%;}
  .btn-import{float: right;}
  .icon-img{background-color: #000;}
  .icon-img > div{width: 100%;height: 100%;background-repeat: no-repeat;padding: 25px;background-position: center;}
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

