<nb-card *ngIf="showListing">

    <nb-card-header >
      Would You Rather <button class="btn-import"  type="button" nbButton status="success" (click) ="importQuestion()" >Import Questions</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (create)="createQuestion()" (edit) = "editQuestion($event)" (delete)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="showImport">
  <nb-card-header>
    Import CSV
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="importForm" (ngSubmit)="onImportConfirm()" autocomplete="off">

      <div class="form-group row">
        <label for="inputCSV" class="label col-sm-3 col-form-label">Upload CSV File</label>
        <div class="col-sm-9">
          <input type="file" accept=".csv"  nbInput fullWidth (change)="uploadCSVFile($event)">
          <input type="hidden" formControlName="csvData" nbInput fullWidth id="inputCSV">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <ng2-smart-table [settings]="settingCsv" [source]="source1"></ng2-smart-table>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!importForm.valid" nbButton status="success">Import</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>

    </form>
    
  </nb-card-body>
</nb-card>

<nb-card *ngIf="showAddForm">
  <nb-card-header>
    Add Question
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm" (ngSubmit)="onCreateConfirm()" autocomplete="off">

      <input type="hidden" formControlName="topic" nbInput fullWidth id="inputtopic" value="never_have_ever">
      
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Question</label>
        <div class="col-sm-9">
          <input type="text" formControlName="question" nbInput fullWidth id="inputName" placeholder="Question" required autocomplete="off">
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!profileForm.valid" nbButton status="success">Save</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="showEditForm">
  <nb-card-header>
    Edit Question
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm" (ngSubmit)="onEditConfirm()" autocomplete="off">

      <input type="hidden" formControlName="topic" nbInput fullWidth id="inputtopic" value="never_have_ever">

      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Question</label>
        <div class="col-sm-9">
          <input type="text" formControlName="question" nbInput fullWidth id="inputName" placeholder="Question" required autocomplete="off">
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" [disabled]="!profileForm.valid" nbButton status="success">Save</button>&nbsp;&nbsp;
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>