<nb-card *ngIf="showListing">
    <nb-card-header>
      Payments
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (edit) = "editUser($event)" >
      </ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="showEditForm">
  <nb-card-header>
    Payment Details
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="profileForm">

      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Date</label>
        <div class="col-sm-9">
          <input type="text" formControlName="createdAt" nbInput fullWidth id="inputName" placeholder="Plan" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">User Name</label>
        <div class="col-sm-9">
          <input type="text" formControlName="user_name" nbInput fullWidth id="inputUsername" placeholder="Plan" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Plan</label>
        <div class="col-sm-9">
          <input type="text" formControlName="plan_id" nbInput fullWidth id="inputName" placeholder="Plan" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Plan Type</label>
        <div class="col-sm-9">
          <input type="text" formControlName="plan_type" nbInput fullWidth id="inputPlantype" placeholder="Plan" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="label col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-9">
          <input type="text" formControlName="amount" nbInput fullWidth id="inputAmount" placeholder="Plan" disabled>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="button" (click) = "resetListing()" nbButton status="primary">Cancel</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>